.header{
    padding: 25px;
    width: 300px;
    margin-top: 150px;
    margin-left: 89px;
}
.caption{
  
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 1px;
    width: 450px;
    margin-left: 29px;

 }
 .fb-rightbox{ 
    background-color: #ffffff;
    margin-left: 200px;
    padding: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 57%;
    top: 50%;
    width: 15vmin;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(2, 42, 83, 0.2);
} 

.firstboarder{
  
    background: #ffffff;
    margin-left: -139px;
    margin-top: -130px;
    width: 60vmin;
    border-radius: 9px;
    height: 60px;
    vertical-align: middle;
    text-align:left ;
    border-style: solid;
  border-color: rgb(65,105,225);
}
.password{
  
    background: #ffffff;
    margin-left: -139px;
    margin-top: 7px;
    width: 60vmin;
    border-radius: 9px;
    height: 60px;
    vertical-align: middle;
    text-align:left ;
    border-style: solid;
  border-color: rgb(65,105,225);
}
.login{
  
    background:rgb(15, 67, 165);
    margin-left: -139px;
    margin-top: 11px;
    width: 60vmin;
    border-radius: 9px;
    height: 60px;
    vertical-align: middle;
    text-align:center ;
    border-style: solid;
    border-color: rgb(115, 144, 230);
    color:rgb(238, 241, 238);
    font-size: 20px;
    font-weight:    bold;
}