.header{
    width: 100%;
    height: 100px;
    background-color: orange;

}
.left-section{
   background-color: #ffffff;
   
   padding: 90px;
   position: absolute;
   transform: translate(-50%,-50%);
   left: 60%;
   top: 50%;
   width: 30vmin;
   border-radius: 10px;
   box-shadow: 0 20px 40px rgba(2,42,83,0.2);
  
}
.userid{

 background-color: blue;
 
 height: 21px; 
 border: 5px solid cornsilk;
}


.right-section{
 //   width: 80%;
   // height: 400px;
   // float: right;
   // background-color: blue;
  //  background-color: #ffffff;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: chartreuse;

}
.content{
    height: 400px;
}