button{
    background:green ;
    color: #fff;
}
body{
    background-color: darkgray;
}
#para1{
    color:aqua;
}
#para2{
    color:blueviolet;
}
.para3{
    color: brown;
    background: lawngreen;
}
.para4{
    color: chartreuse;
    background: cornsilk;

    
}
.para5{
    color: white;

}
div{
    width: 269px;
    height: 131px;
    background-color: blue;
    margin-left: 250px;
    margin-top: 100px;
    padding-left: 30px;
    padding-top: 50px;
    border: 6px solid;
    border-color: #00ff34;
    

}
.outer-box{
    border: solid 5px;
    border-color: lavender;
    background: fuchsia;
    color: #fff;
    width: 300px;
    height: 292px;
}
.box{
    margin-left: 100px;
    padding-left: 64px;

}
.inner-box{

    margin: 10px;
    background: cadetblue;

width: 200px;
height: 80px;}

